<html>
<body>    
<h1>모든 연결 사용자간 채팅</h1>
    채팅 닉네임:<input type="text" id="nickname" value="창훈"><br>
    전송 메시지:<input type="text" id="message" value=""><br>
    <input type="button" id="btnSend" value="전송"><br>

    <hr>
    <ul id="chatHistory">
     </ul>

    <!-- jquery cdn 라이브러리 참조  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <!-- socket.io javascript library 참조  -->
    <script src="/socket.io/socket.io.js"></script>

    <script>

    //클라이언트(웹 브라우저) 서버 연결 소켓 객체 정의 
    var socket = io.connect('/');

    //전송 버튼 클릭 시 사용자 입력 메시지를 서버에 특정 이벤트 기능으로 전송한다.
    $("#btnSend").click(function(){
          var msg = $("#message").val();
          var nickName = $("#nickname").val();
          var sendMsg = `${nickName}:${msg}`;


          //서버소켓의 broadcast라는 이벤트 수신기로 sendMsg 라는 메시지를 실시간으로 발송합니다.
          //socket.emit()메소드는 웹브라우저에서 서버소켓모듈로 메시지를 보낼떄 사용합니다. 
          socket.emit("broadcast",sendMsg);

    });


    //서버소켓에서 보낸 데이터를 수신하는 클라이언트 이벤트 수신기(receiveAll) 정의 
    socket.on("receiveAll",function(receiveMsg){
        console.log("메시지 수신기-데이터","receiveAll",receiveMsg);
        $("#chatHistory").append(`<li>${receiveMsg}</li>`);
    });

   </script>
   
</body>
</html>

