<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Meta -->
		<meta name="description" content="Quick Chat App">
		<meta name="author" content="ParkerThemes">
        <%-meta%>


		<link rel="shortcut icon" href="/img/fav.png" />

		<!-- Title -->
		<title>Quick Chat App</title>


		<!-- Bootstrap css -->
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		
		<!-- Main css -->
		<link rel="stylesheet" href="/css/main.css">

        <%-style%>

	</head>
	<body>

        <!-- 채팅 콘텐츠 표시 영역 -->
        <%-body%>


		<!-- Required jQuery first, then Bootstrap Bundle JS -->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.bundle.min.js"></script>


		<!-- Slimscroll JS -->
		<script src="/vendor/slimscroll/slimscroll.min.js"></script>
		<script src="/vendor/slimscroll/custom-scrollbar.js"></script>

		<!-- Main Js Required -->
		<script src="/js/main.js"></script>

        <%-script%>

	</body>
</html>