

            <!--우측 콘텐츠 헤더영역 -->
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>관리자정보관리</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/Home/Index">Home</a>
                        </li>
                        <li>
                            <a>관리자정보관리</a>
                        </li>
                        <li class="active">
                            <strong>조회</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>

            <!--우측 콘텐츠 영역 -->
            <div class="wrapper wrapper-content">
                <div class="ibox-content m-b-sm border-bottom">


                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">아이디</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">암호</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">성명</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">홈페이지주소</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">간략소개</label>
                                <textarea class="form-control" rows="10" cols="5"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">메일주소</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">회사명</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">직위</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>

                    </div>



                    <div class="row">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">수정자</label>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">수정일시</label>

                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">사용여부</label>
                                <div class="form-group">

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="text-center">
                        <button type="button" class="btn btn-primary">저장</button>
                        <a href="#" class="btn btn-info">목록</a>
                    </div>

                </div>
            </div>
