<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Main view</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <!--추가 스타일-->

</head>

<body>

    <div id="wrapper">

        <!--좌측 메뉴 영역-->
        <% include ../common/leftmenu.ejs %>

        <!--우측 영역-->
        <div id="page-wrapper" class="gray-bg">

            <!--우측 상단 영역 -->
            <% include ../common/header.ejs %>

            <!--우측 컨텐츠 헤더 영역 -->
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>사용자 정보관리</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/">Home></a>
                        </li>
                        <li>
                            <a>사용자정보관리></a>
                        </li>
                        <li class="active">
                            <strong>조회</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>

            <!--우측 콘텐츠 영역 -->
            <div class="wrapper wrapper-content">

                <!-- 사용자 정보 조회옵션 및 조회 영역 -->
                <form action="/member/list" method="post">
                    <div class="ibox-content m-b-sm border-bottom">

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label" for="OrderNo">메일주소</label>
                                    <input type="text" name="email" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label" for="OrderName">이름</label>
                                    <input type="text" name="name" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label" for="MobileNo">전화번호</label>
                                    <input type="text" name="telephone" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">조회</button>
                            <a href="/member/entry" class="btn btn-info">신규</a>
                        </div>
                    </div>
                </form>

                <!-- 사용자 정보조회 결과 목록 표시 영역 -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <div class="table-responsive">

                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th width="10%">순번</th>
                                                <th width="10%">메일주소</th>
                                                <th width="20%">이름</th>
                                                <th width="20%">전화번호</th>
                                                <th width="10%">생년월일</th>
                                                <th width="10%">사용상태</th>
                                                <th width="20%">등록일자</th>
                                            </tr>
                                        </thead>
                                        <tbody class="hoverTblBody">

                                            <tr>
                                                <td><a href="#">1</a></td>
                                                <td><a href="#">test1@test.co.kr</a></td>
                                                <td>강창훈</td>
                                                <td>010-2760-5246</td>
                                                <td>74.05.23</td>
                                                <td>이용중</td>
                                                <td>2023-02-22</td>
                                            </tr>

                  
                                            <tr>
                                                <td><a href="#">2</a></td>
                                                <td><a href="#">test2@test.co.kr</a></td>
                                                <td>강민서</td>
                                                <td>010-3333-4444</td>
                                                <td>02.02.20</td>
                                                <td>일시중지</td>
                                                <td>2023-02-22</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

            <!--우측 하단 풋터 영역-->
            <% include ../common/footer.ejs %>

        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/js/inspinia.js"></script>
    <script src="/js/plugins/pace/pace.min.js"></script>


    <!--추가 스크립트-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <script>

    </script>


</body>

</html>