

            <!--우측 상단 헤더 영역 -->
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>메인 페이지</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/">Home></a>
                        </li>
                        <li>
                            <a>메인페이지></a>
                        </li>
                        <li class="active">
                            <strong>대시보드</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>

            <!--우측 콘텐츠 영역 -->

            로그인 사용자아이디 : <%=loginUserData.adminId%><br/>
            로그인 사용자명 : <%=loginUserData.adminName%>
